default_language_version:
  python: python3.12

ci:
  skip: [ty]

repos:
  # general checks (see here: https://pre-commit.com/hooks.html)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: end-of-file-fixer
      - id: trailing-whitespace

  # black - formatting
  - repo: https://github.com/psf/black
    rev: 26.1.0
    hooks:
      - id: black
        name: black
        args:
          - "--config"
          - "./pyproject.toml"

  # ruff - linting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.14.13"
    hooks:
      - id: ruff
        name: ruff

  # ty - type checking
  - repo: https://github.com/allganize/ty-pre-commit
    # Ty version.
    rev: v0.0.12
    hooks:
      # Run the type checker.
      - id: ty-check
        args: [--ignore, unresolved-import]
